.todo-form {
    display: flex;
}

.todo-form input {
    border: 1px solid #dddddd;
    border-radius: 30px;
    font-size: 20px;
    outline: none;
    padding: 10px 25px;
    width: 100%;
}

.todo-form input::placeholder {
    color: #cccccc;
    font-size: 18px;
}

.todo-form button {
    margin-left: 10px;
}